<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>favorites</servlet-name>
        <servlet-class>com.andreenkomv.pravorbclient.servlets.favorites</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>part</servlet-name>
        <servlet-class>com.andreenkomv.pravorbclient.servlets.part</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>act</servlet-name>
        <servlet-class>com.andreenkomv.pravorbclient.servlets.act</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>favorites</servlet-name>
        <url-pattern>/favorites</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>com.andreenkomv.pravorbclient.servlets.user</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.andreenkomv.pravorbclient.servlets.index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>part</servlet-name>
        <url-pattern>/part</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>act</servlet-name>
        <url-pattern>/act</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
</web-app>
